*{
	padding: 0;
	margin: 0;
}
.pingtai1{
	height: 3rem;

}
.head{
	position: fixed;
	left: 0;
	right: 0;
	height: 3rem;
	line-height: 3rem;
	background-color: #5fc0cd;
	text-align: center;
	z-index: 1;
}
.jiantou{
	height: 1.2rem;
	margin-left: 1.5rem;
	padding: 0.8rem 0;
	position: absolute;
	left: 0;
}
.wenben1{
	color: white;
}
.shang{
	height: 11rem;
	background-image: url(../src/background.jpg) ;
	background-size:cover;
	position: relative;
	top: 3rem;
}
.touxiang{
	position: relative;
	top: 2.5rem;
	left: 2rem;
	height: 90px;
}
.name{
	color: white;
	position: relative;
	top: -1rem;
	left: 4rem;
	font-size: 1.2rem;
}
.dizhi{
	height: 0.8rem;
	position: relative;
	top: 0rem;
	left: 10rem;
}
.didian{
	position: relative;
	top: 0rem;
	left: 10rem;
	color: white;
	font-size: 0.5rem;
}
.biaoti{
	position: relative;
	top: 3rem;
	left: 1rem;
	padding: 1rem 0;
	border-bottom: 0.01rem solid #e1e5e7;
}
.shu{
	color: #5fc0cd;
}
.biao{
	list-style: none;
}
.tedian{
	position: relative;
	top: 3rem;
	left: 1rem;
	padding: 1rem 0.5rem;
	border-bottom: 0.01rem solid #e1e5e7;
}
.star1{
	height: 1rem;
}
.star2{
	height: 1rem;
}
.nianxian{
	position: relative;
	top: 3rem;
	left: 1rem;
	padding: 1rem 0.5rem;
	border-bottom: 0.01rem solid #e1e5e7;
}
.congyenianxian{
	color: grey;
	padding-right: 1rem;
	border-right: 0.01rem solid #e1e5e7;
}
.nian{
	padding-left: 0.5rem;
}
.xiaoshi{
	padding-left: 0.5rem;
	color: red;
}
.nianxian1{
	position: relative;
	top: 3rem;
	left: 1rem;
	padding: 1rem 0.5rem;
	border-bottom: 0.01rem solid #e1e5e7;
	display: flex;
	align-items: center;
}
.ziwo{
	display: inline-flex;
	position: absolute;
	color: grey;
	padding-right: 1rem;
	border-right: 0.01rem solid #e1e5e7;

}
.jieshao{
	display: inline-flex;
	border-left: 0.5rem;
	margin-left: 6rem;
}
.duanluo{
	font-size: 0.5rem;
}
.foot{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.liuyan{
	color: #5fc0cd;
	background-color: white;
	outline:none;
	padding: 1% 4%;
	border-style: none;
	border:1px solid #5fc0cd;
	border-radius: 0.5rem;
	margin: 1%;
	width: 40%;
}
.tel{
	color: white;
	outline: none;
	border-style: none;
	padding: 1% 4%;
	background-color: #5fc0cd;
	border:1px solid white;
	border-radius: 0.5rem;
	margin: 1%;
	width: 40%;
}